body {
  background-color: black;
}

#Div {
  border: 4px solid white;
  border-radius: 15px;
  height: 340x;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Centered {
  display: flex;
  justify-content: center;
  gap: 15px;
  text-align: center;
}

#HeadingA {
  color: rgb(5, 5, 5)
  
}

#HeadingB {
  color: rgb(5, 5, 5)
  
}


#P {
  font-size: 19px;
  font-family: Impact, Arial;
  color: rgb(5, 5, 5)
}

#P2 {
  font-size: 19px;
  font-family: Impact, Arial;
  color: rgb(5, 5, 5);
  height: 20px;
}
#P3 {
  font-size: 19px;
  font-family: Impact, Arial;
  color: rgb(5, 5, 5);
  height: 20px;
}

#P4 {
  font-size: 19px;
  font-family:Arial;
  color: white;
  height: 20px;
  text-shadow: 0 0 10px #fff;
}

.Column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.Button {
  display: box;
  border: 2px solid gray;
  border-radius: 10px;
  height: 30px;
  width: 120px;
  justify-content: center;
  cursor: pointer;
}

.BtnText {
  color: white;
  font-size: 20px;
  margin-left: 45px;
  margin-top: 5px;
  text-shadow: 0 0 10px #fff;

}

#Btn1 {
  background-color: green;
  margin-top: -10px;
}
#Btn2 {
  background-color: red;
  margin-top: -10px;
}

#Btn3 {
  background-color: blue;
  margin-top: -10px;
}
#Btn4 {
  background-color: blue;
  margin-top: -10px;
}

#GSearch {
  margin-top: 20px;
  font-size: 19px;
  font-family: Arial;
  color: rgb(5, 5, 5);
}

#GSearchBar {
  margin-top: 20px;
  height: 35px;
  width: 50vw;
  border: 1px solid rgb(5, 5, 5);
  background-color: rgb(5, 5, 5);
  border-radius: 35px;
  padding: 0 10px;
}

#GSearchButton {
  margin-top: 10px;
  height: 30px;
  width: 120px;
  border: 1px solid rgb(5, 5, 5);
  background-color: rgb(5, 5, 5);
  color: rgb(5, 5, 5);
  border-radius: 35px;
  padding: 0 5px;
  cursor: pointer;
}

#Monitor {
  display: flex;
  justify-content: center;
  width: 100vw;
}
